<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Sudoku S</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    <style type="text/css">

    .bg {
        /* The image used */
        background-image: url(https://sudoku-sk-bucket.s3.ap-south-1.amazonaws.com/bgblue.png);

        /* Full height */
        height: 50%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
</style>
</head>
<body class="bg">
    <div class="container">
        <h2>{{ message }}</h2>
        <hr>
        <script>
            setTimeout(function(){
                window.location.href = '/pranoy';
            }, 3000);
        </script>
    </div>
</body>
</html>
